/* All */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML */
html {
  font-size: 62.5%;
  text-align: justify;
}

/* Body */
body {
  background-color: white;
}

#about-body {
  height: 100rem;
}

/* Text */
h1 {
  font-size: 2.8rem;
}
/*h2:hover
 {
  letter-spacing: 0.5rem;
} */

h2 {
  font-size: 3rem;
  padding: 14rem;
  margin-top: 7rem;
}

h3 {
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
  color: black;
}

.about-content {
  color: white;
}

#contact {
  margin-bottom: 4rem;
}

p {
  font-size: 1.8rem;
  padding: 1rem;
  text-align: justify;
  margin-bottom: auto;
  justify-content: center;
}

#gender {
  font-size: 1.8rem;
}

/* Clear */
.clear {
  clear: both;
}

/* Button */
button {
  margin: 5rem;
  padding: 1rem 2rem;
  background: #0f56b3;
  color: white;
  border: 0.2rem solid #0f56b3;
  border-radius: 1rem;
  font-size: 1.5rem;
}

button:hover {
  background: #083674;
  /*padding: 1.5rem 3rem*/
  cursor: pointer;
}

/* Paragraphs */
.content {
  padding: 2rem;
  font-size: 1.8rem;
}

#description {
  text-align: justify;
  margin: 2rem;
  padding: 1rem;
}

#developers {
  margin-bottom: 2rem;
  color: #0f56b3;
}

#hr {
  border-top: 0.3rem solid #0f56b3;
  margin: 0rem 6rem;
}

#linkedin {
  color: black;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

#linkedin-link {
  color: black;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Form */
.form {
  font-size: 1.5rem;
  border: 0.3rem solid #0f56b3;
  margin: 10rem;
  text-align: center;
}

form input,
form label,
form textarea,
form option {
  display: block;
  font-size: 2rem;
  margin-top: 1rem;
}

form input,
form textarea,
form option {
  margin: auto;
  width: 50%;
}

form button {
  margin-bottom: 2rem;
  width: 50%;
}
/* Footer */
#footer {
  font-size: 1.4rem;
  margin-left: 3rem;
}

.index-form {
  width: 50%;
  text-align: center;
  margin: auto;
}
.car-form {
  width: 50%;
  text-align: center;
  margin: auto;
  color: #0f56b3;
}

#footer-about {
  margin-top: 30rem;
  font-size: 1.4rem;
}

/* Image */
.image {
  background-image: url("/pexels-guillaume-meurice-3363556.jpg");
  height: 35rem;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 67%;
  text-align: center;
  color: whitesmoke;
  text-shadow: 6px 6px 6px black;
}

.image-contact {
  background-image: url("/pexels-guillaume-meurice-3363556.jpg");
  height: 35rem;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 67%;
  text-align: center;
  color: whitesmoke;
  text-shadow: 6px 6px 6px black;
}
.image-car {
  background-image: url("/AutonomousCar.jpg");
  height: 35rem;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 67%;
  text-align: center;
  color: #f8ad69;
  text-shadow: 6px 6px 6px black;
}

.image-cdss {
  background-image: url("/pexels-thisisengineering-3913025.jpg");
  height: 35rem;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  text-align: center;
  color: #f8ad69;
  text-shadow: 6px 6px 6px black;
}
/* Navigation Bar */
a {
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
}

/*original color: #0dacb4 */
nav {
  background: #0f56b3;
  color: white;
  padding: 2rem;
  position: fixed;
  top: 0rem;
  width: 100%;
  z-index: 1;
}

.navigation-contact {
  background: #0f56b3;
  color: white;
  padding: 2rem;
  position: fixed;
  top: 0rem;
  width: 100%;
}

nav h1 {
  float: left;
}

nav ul {
  float: right;
}

nav li {
  float: left;
  margin: 0rem 3rem;
  list-style: none;
}

/*nav li:hover {
  background: rgba(230, 230, 230, 0.397);
}*/

/* Float Columns */
.column-about-owen {
  width: 50rem;
  height: 23rem;
  float: left;
  position: absolute;
  left: 5rem;
  border: 3px solid #0f56b3;
  margin: 1rem;
  color: white;
}
.column-about-luke {
  width: 50rem;
  height: 23rem;
  float: right;
  position: absolute;
  right: 5rem;
  border: 3px solid #0f56b3;
  margin: 1rem;
  color: white;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-size: 50rem;
}
.alignright {
  position: absolute;
  right: 5rem;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #0f56b3;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.column-contact-owen {
  width: 35rem;
  float: left;
  position: absolute;
  left: 5rem;
  border: 3px solid #0f56b3;
  height: 10rem;
  margin-bottom: 2rem;
  padding: 0rem;
  margin-left: 5rem;
}

.column-contact-luke {
  width: 35rem;
  float: right;
  position: absolute;
  right: 5rem;
  border: 3px solid #0f56b3;
  height: 10rem;
  padding: 0rem;
  margin-bottom: 2rem;
  margin-right: 5rem;
}

/*Index take 2*/
#index2 {
  background: #036f96;
  min-height: 80vh;
}

#index-title {
  width: 40%;
  margin-top: 13rem;
  margin-left: 7rem;
  padding: 0rem;
  border: 0rem;
}

#index-heading {
  font-size: 10rem;
  margin-top: 7rem;
  margin-left: 7rem;
  color: #f2eae7;
  width: 30rem;
  border: 0rem;
}

#index-tagline {
  font-size: 3rem;
  margin-top: 1rem;
  margin-left: 9rem;
  padding: 0rem;
  color: #d1a42f;
  width: 35rem;
  font-family: "Kalam", cursive;
  border: 0rem;
}

#image-index {
  position: absolute;
  top: 10rem;
  right: 10rem;
}

.navigation-index {
  background: #fe5900;
  color: #f2eae7;
  padding: 2rem;
  position: fixed;
  top: 0rem;
  width: 100%;
}

#index-content {
  width: 50rem;
  margin-top: 5rem;
  margin-left: 7rem;
  color: #f2eae7;
  justify-content: center;
  padding: 0rem;
  border: 0rem;
}

#index-button {
  text-align: center;
  /*margin-left: 15rem;
  margin-top: 5rem;*/
  margin: auto;
  display: block;
  margin-top: 3rem;
  color: #f2eae7;
}

.navigation-index li:hover {
  border-bottom: 3px solid #015353;
}
